/* Main container */
.lightbox-container {
/*Display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
/*Positioning*/
    position: relative;
/*Box Model*/
    width: 100%;
    border-radius: 0.5rem;
/*Miscellaneous*/
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Empty state */
.lightbox-empty {
/*Display*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box Model*/
    width: 100%;
    height: 16rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-text);
}

.lightbox-empty-text {
    color: var(--border);
}

/* Content area */
.lightbox-content {
    position: inherit;
}

/* Title styling */
.lightbox-title {
    margin: 0px 0px 10px 0px;
}

/* Image container */
.lightbox-image-wrapper {
/*Display*/
    display: flex;
    justify-content: center;
/*Box Model*/
    width: 400px;
    height: 350px;
    margin-bottom: 1rem;
}

/* Image styling */
.lightbox-image {
/*Box Model*/
    border: 1px solid transparent;
    border-radius: 15px;
/*Miscellaneous*/
    overflow: clip clip;
}

/* Description text */
/* .lightbox-description {
} */

/* Left navigation */
.lightbox-nav-left {
/*Display*/
    display: flex;
    align-items: center;
/*Positioning*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

/* Right navigation */
.lightbox-nav-right {
/*Display*/
    display: flex;
    align-items: center;
/*Positioning*/
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

/* Navigation buttons */
.lightbox-nav-button {
/*Box Model*/
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.3);
/*Typography*/
    color: white;
/*Miscellaneous*/
    cursor: pointer;
}

.lightbox-nav-button:hover {
    background-color: var(--surface-secondary);
}

.lightbox-nav-button:active {
    background-color: var(--accent);
}

/* Arrow icons */
.lightbox-arrow {
    display: block;
}

/* Indicator container */
.lightbox-indicator-container {
/*Positioning*/
    left: 0;
    right: 0;
    bottom: 0.5rem;
}

/* Indicator wrapper */
.lightbox-indicator-wrapper {
/*Display*/
    display: flex;
    justify-content: center;
/*Box Model*/
    margin-top: 10px;
/*Miscellaneous*/
    gap: 0.5rem;
}

/* Indicator dots */
.lightbox-indicator-dot {
/*Box Model*/
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    background-color: var(--border);
}

/* Active indicator */
.lightbox-indicator-active {
    background-color: var(--accent);
}