/* Main container */
.lightbox-container {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* overflow: hidden; */
    /* max-width: 42rem; */
    /* margin-left: auto;
    margin-right: auto; */
    /* display: flex; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

/* Empty state */
.lightbox-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-text);
    height: 16rem;
    width: 100%;
    border-radius: 0.5rem;
}

.lightbox-empty-text {
    color: var(--border);
}

/* Content area */
.lightbox-content {
    position: inherit;
}

/* Title styling */
.lightbox-title {
    margin: 0px 0px 10px 0px;
}

/* Image container */
.lightbox-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 400px;
    height: 350px;
}

/* Image styling */
.lightbox-image {
    border: 1px solid transparent;
    border-radius: 15px;
}

/* Description text */
/* .lightbox-description {
    color: #374151;
} */

/* Left navigation */
.lightbox-nav-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

/* Right navigation */
.lightbox-nav-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

/* Navigation buttons */
.lightbox-nav-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.lightbox-nav-button:hover {
    background-color: var(--surface-secondary);
}

.lightbox-nav-button:active {
    background-color: var(--accent);
}

/* Arrow icons */
.lightbox-arrow {
    display: block;
}

/* Indicator container */
.lightbox-indicator-container {
    /* position: absolute; */
    bottom: 0.5rem;
    left: 0;
    right: 0;
}

/* Indicator wrapper */
.lightbox-indicator-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 10px;
}

/* Indicator dots */
.lightbox-indicator-dot {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 9999px;
    background-color: var(--border);
}

/* Active indicator */
.lightbox-indicator-active {
    background-color: var(--accent);
}