/* --------------- Variables --------------- */

/* Active Color Scheme */
:root {
  --primary-text: #FFFFFF;
  --secondary-text: #A0A0A0;
  --accent: #ff7b54;
  --background: #000000;
  --background-secondary: #121212;
  --surface: #1E1E1E;
  --surface-secondary: #2C2C2C;
  --border: #404040;
}

/* --------------- Icons --------------- */
.react-icons {
  width: 50px;
  height: 50px;

  fill: var(--secondary-text);
}

/* --------------- Text --------------- */

h1 {
  color: var(--primary-text);
  text-align: left;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: 300;
  line-height: 76px;
}

h2 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.special-h2 {
  color: var(--accent);
  font-size: 40px;
}

.resume-h2 {
  color: var(--secondary-text);
  font-weight: 300;
}

h3 {
  color: var(--primary-text);
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  display: flex;
}

p {
  color: var(--primary-text);
  background-color: var(--surface-secondary);
  border: 1px solid var(--border);
  border-radius: 10px;
  text-align: left;
  margin-bottom: 0;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
}

.special-p {
  color: var(--secondary-text);
  background-color: transparent;
  border: none;
  font-style: italic;
}

/* --------------- Containers --------------- */

/* Body */
body {
  background-color: var(--background);
  border: 1px var(--primary-text);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* -| root */
#root {
  background-color: var(--background);
  border-radius: 10px;
  flex: 0 auto;
  min-width: 320px;
  max-width: 1400px;
  margin: 10px;
}
/* --| header-section */
.header-section {
  width: 100%;
}
/* ----| links-section */
/* -----| links-box */
.links-box {
  margin-bottom: 10px;
  display: block;
}
/* ------| Link Block */
.logo-link {
  border-radius: 0;
}
/* ----| intro-headshot-section */
.intro-headshot-section {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 40vh;
  margin-top: 0;
  margin-bottom: 10px;
  display: grid;
}
/* -----| heading-box */
.heading-box {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--primary-text);
  border-radius: 15px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 40px;
  display: flex;
}
/* --| main-grid-section */
.main-grid-section {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: grid;
}
/* ----| resume-box */
.resume-box {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--border);
  border-radius: 15px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 5px;
  display: flex;
  box-shadow: 2px 2px 1px #0000004d;
}  
/* -----| resume-headers-box */
.resume-headers-box {
  color: var(--secondary-text);
  border: 1px var(--secondary-text);
  border-radius: 15px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
}
/* -----| job-box */
.job-box {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 15px;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}
/* ------| organization-box */
.organization-box {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* -------| icon-box */
.icon-box {
  width: 40px;
  height: 40px;
}
/* ------| employment-organization-box -> also Div Block 22 */
.employment-organizaton-box {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 0;
}
/* ------| place-time-box */
.place-time-box {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}
/* ----| placeholder-box */
.placeholder-box {
  border: 1px var(--accent);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  height: 25vh;
  display: flex;
}

/* --| expanded-cards-section */
.expanded-cards-section {
  display: none;
}