/* Active Color Scheme */
:root {
  --primary-text: #333333;
  --accent: #2E8B57;
  --secondary-text: #666666;
  --secondary-background: #E9E9E9;
  --border: #E1E8E4;
}

/* Dark Mode Color Scheme */
:root {
  --background: #121212;
  --surface: #1E1E1E;
  --surface-secondary: #2C2C2C;
  --border: #404040;
  --text-primary: #FFFFFF;
  --text-secondary: #A0A0A0;
  --highlight: #64FFDA; 
}

h1 {
  color: var(--primary-text);
}

h2 {
  color: var(--accent);
}

h3 {
  color: var(--secondary-text);
}

p {
  color: var(--primary-text);
}

#root {
  /* COMMENTED OUT BELOW IS DEFAULT STYLING FROM VITE */
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.expanded-cards-section {
  display: none;
}